<!-- ========================================================
     app.component.html — Componente raíz + Navbar
     ======================================================== -->

<!-- Navbar (solo visible en rutas autenticadas) -->
<nav class="app-navbar" *ngIf="showNavbar">

  <div class="navbar-left">
    <a routerLink="/dashboard" class="navbar-brand">
      <i class="bi bi-bar-chart-fill"></i>
      DevInsights
    </a>
  </div>

  

</nav>

<!-- Router outlet -->
<main [class.page-with-nav]="showNavbar">
  <router-outlet></router-outlet>
</main>